header{
    background-image: url('../img/pattern.png');
    background-color: #5f91ff;
}
h1{
    font-size: 70px;
    margin-bottom: 10px;

}

#Logo{
    width: 250px;
    height: 170px;
}

.gray-text{
    color: rgb(147, 163, 179);
    font-size: 20px;
}

#lista{
    padding-left: 15px;
}

.tabella{
    width: 100%;
    text-align: left;
    border-spacing: 0px;
}

#thead{
    padding: 0px;
    text-align: left;
    background-color: #5f91ff;
    color: white;
    
}

.td-background{
    background-color: aqua;
}

.td-lungo{
    width: 900px;
    text-align: justify;
}

#testo-blu{
    color: #5f91ff;
}

.evidenziato{
    text-decoration: ;
}
.div-immagine {
    height: 400px;
    width: 400px;
    position: relative;
  }
  .immagini-finali {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .testo-sovrapposto {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
  }