header{
    background-image: url('../img/pattern.png');
    background-color: #5f91ff;
}
h1{
    font-size: 70px;
    margin-bottom: 10px;

}

#Logo{
    width: 250px;
    height: 170px;
}

.gray-text{
    color: rgb(147, 163, 179);
    font-size: 20px;
}

#lista{
    padding-left: 15px;
}

.tabella{
    width: 100%;
    text-align: left;
    border-spacing: 0px;
}

#thead{
    padding: 0px;
    text-align: left;
    background-color: #5f91ff;
    color: white;
    
}

.td-background{
    background-color: aqua;
}

.td-lungo{
    width: 900px;
    text-align: justify;
}

#testo-blu{
    color: #5f91ff;
}

#immagine-finale1{
    background-image: url("../img/monitor.jpg");
    width: 312px;
    height: 208px;
}

#immagine-finale2{
    background-image: url("../img/graph.jpg");
    width: 311px;
    height: 207px;
    margin-top: 15px;
}

#testo-sovrapposto{
    color: white;
    font-size: 30px;
}